@media (max-width: 425px) {
    .center {
        padding-left: calc(50% - 375px/2);
        padding-right: calc(50% - 375px/2);
    }
    .header {
        &__logo-img {
            width: 95px;
        }
        &__menu {
            gap: 12px;
        }
        &__link {
            font-size: 8px;
            line-height: 10px;
        }
        &__btn {
            width: 65px;
            height: 16px;
            font-size: 8px;
            line-height: 10px;
        }
    }
    .main-content__box {
        flex-direction: column;
        align-items: center;
    }
    .main-content {
        width: 90vw;
        padding-top: 60px;
        gap: 12px;
        align-items: center;
    }
    .title-big {
        font-size: 24px;
        line-height: 39px;
        text-align: center;
    }
    .title-small {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }
    .text-about {
        font-size: 12px;
        font-weight: 400;
        text-align: center;
    }
    .main-content__btn {
        width: 185px;
        height: 26px;
        font-size: 10px;
        line-height: 10px;
        margin-top: 16px;
        margin-bottom: 50px;
        align-self: center;
    }
    .img__coffe {
        top: 70vh;
     }
     .img__cup {
        top: 68vh;
        right: 25vw;
        width: 62vw;
     }
     .img__cookie {
        top: 90vh;
     }
     .img__cinnamon {
        top: 84vh;
     }
}
@media (max-width: 375px) {
    .center {
        padding-left: calc(50% - 270px/2);
        padding-right: calc(50% - 270px/2);
    }
    .header {
        &__logo-img {
            display: none;
        }
        &__logo {
            background-image: url(img/coffee-logo.svg);
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
        }
        &__link {
            font-size: 7px;
            line-height: 8px;
        }
        &__btn_mobile {
            display: block;
            width: 30px;
            height: 30px;
            box-sizing: border-box;
            border: 1px solid rgb(162, 101, 57);
            border-radius: 24px;
            color: rgb(162, 101, 57);
            padding: 4px;
        }
        &__btn {
            display: none;
        }
    }
    .main-content {
        padding-left: calc(50% - 270px/2);
        padding-right: calc(50% - 270px/2);
    }
    .img__cookie {
        top: 87vh;
     }
}