* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
body {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
}
.top {
    display: flex;
    flex-direction: column;
}
.header {
    padding-top: 41px;
    padding-bottom: 41px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header__logo-img {
    width: 305px;
    height: 39px;
}
.header__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 48px;
}
.header__link {
    color: rgb(69, 64, 61);
    font-size: 16px;
    line-height: 20px;
    &:hover {
        text-decoration-line: underline;
        transform: scale(1.1);
        font-weight: bold;
    }
}
.header__btn {
    width: 169px;
    height: 52px;
    box-sizing: border-box;
    border: 1px solid rgb(162, 101, 57);
    border-radius: 24px;
    color: rgb(162, 101, 57);
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
}
.header__btn:hover {
    border-radius: 24px;
    background: rgb(162, 101, 57);
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 20px;
}
.main-content__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(240, 238, 238);
}
.main-content {
    width: 38vw;
    padding-top: 119px;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.title-big {
    color: rgb(69, 64, 61);
    font-size: 48px;
    line-height: 59px;
}
.title-small {
    color: rgb(69, 64, 61);
    font-size: 24px;
    line-height: 29px;
}
.text-about {
    color: rgb(69, 64, 61);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 1em;
}
.main-content__btn {
    width: 366px;
    height: 52px;
    box-sizing: border-box;
    border: 1px solid rgb(162, 101, 57);
    border-radius: 24px;
    color: rgb(162, 101, 57);
    font-size: 16px;
    font-family: inherit;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 201px;
}
.main-content__btn:hover {
    border-radius: 24px;
    background: rgb(162, 101, 57);
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 20px;
}
.animation__img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
 .img__board {
    width: 55vw;
    right: 1px;
    grid-column: span 4;
    grid-row: span 4;
 }
 .img__coffe {
    position: absolute;
    z-index: 1;
    right: -1%;
    top: 15%;
    width: 22%;
 }
 .img__cup {
    position: absolute;
    z-index: 1;
    right: 10%;
    top: 10%;
    width: 40%;
 }
 .img__cookie {
    position: absolute;
    z-index: 1;
    top: 32vw;
    right: 27%;
    width: 30%;
 }
 .img__cinnamon {
    position: absolute;
    z-index: 1;
    top: 25vw;
    right: -4%;
    width: 40%;
 }
 .img__cup, .img__cinnamon, .img__cookie {
    transition: transform 0.3s;
  }
 .img__cup:hover, .img__cinnamon:hover, .img__cookie:hover {
    transform: rotate(-10deg);
  }
  @import 'planshet';
  @import 'mobile';


