* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 46vw);
  padding-right: calc(50% - 46vw);
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
}

.top {
  display: flex;
  flex-direction: column;
}

.header {
  padding-top: 41px;
  padding-bottom: 41px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__logo-img {
  width: 305px;
}
.header__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 48px;
}
.header__link {
  color: rgb(69, 64, 61);
  font-size: 16px;
  line-height: 20px;
}
.header__link:hover {
  text-decoration-line: underline;
  transform: scale(1.1);
  font-weight: bold;
}
.header__btn {
  width: 169px;
  height: 52px;
  box-sizing: border-box;
  border: 1px solid rgb(162, 101, 57);
  border-radius: 24px;
  color: rgb(162, 101, 57);
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}
.header__btn_mobile {
  display: none;
}
.header__btn:hover {
  border-radius: 24px;
  background: rgb(162, 101, 57);
  color: rgb(255, 255, 255);
}

.main-content__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(240, 238, 238);
}

.main-content {
  width: 38vw;
  padding-top: 119px;
  padding-left: calc(50% - 46vw);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main-content__btn {
  width: 366px;
  height: 52px;
  box-sizing: border-box;
  border: 1px solid rgb(162, 101, 57);
  border-radius: 24px;
  color: rgb(162, 101, 57);
  font-size: 16px;
  font-family: inherit;
  line-height: 20px;
  margin-top: 16px;
  margin-bottom: 201px;
}
.main-content__btn:hover {
  border-radius: 24px;
  background: rgb(162, 101, 57);
  color: rgb(255, 255, 255);
}

.title-big {
  color: rgb(69, 64, 61);
  font-size: 48px;
  line-height: 59px;
}

.title-small {
  color: rgb(69, 64, 61);
  font-size: 24px;
  line-height: 29px;
}

.text-about {
  color: rgb(69, 64, 61);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 1em;
}

.animation__img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.img__board {
  width: 55vw;
  right: 1px;
  grid-column: span 4;
  grid-row: span 4;
}

.img__coffe {
  position: absolute;
  z-index: 1;
  right: -1vw;
  top: 25vh;
  width: 22vw;
}

.img__cup {
  position: absolute;
  z-index: 1;
  right: 10vw;
  top: 17vh;
  width: 39vw;
}

.img__cookie {
  position: absolute;
  z-index: 1;
  top: 61vh;
  right: 29vw;
  width: 30vw;
}

.img__cinnamon {
  position: absolute;
  z-index: 1;
  top: 47vh;
  right: -4vw;
  width: 40vw;
}

.img__cup, .img__cinnamon, .img__cookie {
  transition: transform 0.3s;
}

.img__cup:hover, .img__cinnamon:hover, .img__cookie:hover {
  transform: rotate(-10deg);
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 452px);
    padding-right: calc(50% - 452px);
  }
  .header__logo-img {
    width: 244px;
  }
  .header__btn {
    width: 135px;
    height: 42px;
  }
  .main-content {
    padding-left: 60px;
  }
  .main-content__btn {
    width: 275px;
    height: 39px;
  }
  .img__coffe {
    top: 26vh;
  }
  .img__cup {
    top: 17vh;
  }
  .img__cookie {
    top: 49vh;
  }
  .img__cinnamon {
    top: 39vh;
  }
}
@media (max-width: 923px) {
  .center {
    padding-left: calc(50% - 431.5px);
    padding-right: calc(50% - 431.5px);
  }
  .header__link {
    font-size: 14px;
    line-height: 20px;
  }
  .header__logo-img {
    width: 220px;
  }
  .header__menu {
    gap: 28px;
  }
  .header__btn {
    width: 122px;
    height: 38px;
    font-size: 14px;
  }
  .main-content {
    padding-left: 30px;
  }
  .title-big {
    font-size: 32px;
    line-height: 44px;
  }
  .title-small {
    font-size: 22px;
    line-height: 22px;
  }
  .text-about {
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 1em;
  }
  .main-content__btn {
    width: 248px;
    height: 35px;
  }
  .img__cookie {
    top: 42vh;
  }
}
@media (max-width: 840px) {
  .center {
    padding-left: calc(50% - 389.5px);
    padding-right: calc(50% - 389.5px);
  }
  .header__menu {
    gap: 28px;
  }
  .img__coffe {
    top: 23vh;
  }
  .img__cinnamon {
    top: 33vh;
  }
}
@media (max-width: 708px) {
  .center {
    padding-left: calc(50% - 329px);
    padding-right: calc(50% - 329px);
  }
  .header__logo-img {
    width: 150px;
  }
  .header__menu {
    gap: 18px;
  }
  .header__link {
    font-size: 8px;
    line-height: 10px;
  }
  .header__btn {
    width: 85px;
    height: 26px;
    font-size: 8px;
    line-height: 10px;
  }
  .main-content__box {
    flex-direction: column;
    align-items: center;
  }
  .main-content {
    width: 75vw;
    padding-top: 80px;
    padding-left: 0;
    gap: 18px;
  }
  .title-big {
    font-size: 24px;
    line-height: 39px;
    text-align: center;
  }
  .title-small {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
  .text-about {
    font-size: 12px;
    font-weight: 400;
  }
  .main-content__btn {
    width: 185px;
    height: 26px;
    font-size: 10px;
    line-height: 10px;
    margin-top: 16px;
    margin-bottom: 100px;
    align-self: end;
  }
  .img__board {
    width: 100vw;
    grid-column: span 4;
    grid-row: span 4;
  }
  .img__coffe {
    top: 86vh;
    width: 40vw;
  }
  .img__cup {
    top: 80vh;
    right: 30vw;
    width: 62vw;
  }
  .img__cookie {
    width: 45vw;
    top: 115vh;
    right: 60vw;
  }
  .img__cinnamon {
    top: 108vh;
    right: 5vw;
    width: 61vw;
  }
}
@media (max-width: 680px) {
  .center {
    padding-left: calc(50% - 315px);
    padding-right: calc(50% - 315px);
  }
  .header__link {
    font-size: 12px;
    line-height: 20px;
  }
  .header__menu {
    gap: 28px;
  }
  .header__logo-img {
    width: 187px;
  }
  .header__btn {
    width: 104px;
    height: 32px;
    font-size: 14px;
  }
  .main-content {
    padding-left: 25px;
  }
  .title-big {
    font-size: 22px;
  }
  .title-small {
    font-size: 14px;
    line-height: 22px;
  }
  .text-about {
    font-size: 8px;
    line-height: 15px;
    margin-bottom: 1em;
  }
  .main-content__btn {
    width: 200px;
    height: 27px;
  }
}
@media (max-width: 425px) {
  .center {
    padding-left: calc(50% - 187.5px);
    padding-right: calc(50% - 187.5px);
  }
  .header__logo-img {
    width: 95px;
  }
  .header__menu {
    gap: 12px;
  }
  .header__link {
    font-size: 8px;
    line-height: 10px;
  }
  .header__btn {
    width: 65px;
    height: 16px;
    font-size: 8px;
    line-height: 10px;
  }
  .main-content__box {
    flex-direction: column;
    align-items: center;
  }
  .main-content {
    width: 90vw;
    padding-top: 60px;
    gap: 12px;
    align-items: center;
  }
  .title-big {
    font-size: 24px;
    line-height: 39px;
    text-align: center;
  }
  .title-small {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
  .text-about {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
  }
  .main-content__btn {
    width: 185px;
    height: 26px;
    font-size: 10px;
    line-height: 10px;
    margin-top: 16px;
    margin-bottom: 50px;
    align-self: center;
  }
  .img__coffe {
    top: 70vh;
  }
  .img__cup {
    top: 68vh;
    right: 25vw;
    width: 62vw;
  }
  .img__cookie {
    top: 90vh;
  }
  .img__cinnamon {
    top: 84vh;
  }
}
@media (max-width: 375px) {
  .center {
    padding-left: calc(50% - 135px);
    padding-right: calc(50% - 135px);
  }
  .header__logo-img {
    display: none;
  }
  .header__logo {
    background-image: url(img/coffee-logo.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
  }
  .header__link {
    font-size: 7px;
    line-height: 8px;
  }
  .header__btn_mobile {
    display: block;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid rgb(162, 101, 57);
    border-radius: 24px;
    color: rgb(162, 101, 57);
    padding: 4px;
  }
  .header__btn {
    display: none;
  }
  .main-content {
    padding-left: calc(50% - 135px);
    padding-right: calc(50% - 135px);
  }
  .img__cookie {
    top: 87vh;
  }
}
.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 48px;
}

.menu__link-big {
  color: rgb(69, 64, 61);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
}

.menu__btns-box {
  display: flex;
  gap: 7px;
}

.menu__btn {
  box-sizing: border-box;
  border: 1px solid rgb(162, 101, 57);
  border-radius: 24px;
  background: transparent;
  color: rgb(162, 101, 57);
  width: 120px;
  height: 45px;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}
.menu__btn:active {
  border: 1px solid rgb(162, 101, 57);
  background: rgb(162, 101, 57);
  color: rgb(255, 255, 255);
}

.menu__cards-box {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 32px;
  margin-bottom: 64px;
}

.menu__card {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}

.menu__card-img-box {
  height: 276px;
  border-radius: 24px 24px 0px 0px;
  background: rgb(222, 222, 222);
}

.menu__card-img {
  width: 100%;
  height: 276px;
  transition: all 0.3s ease;
}
.menu__card-img:hover {
  transform: scale(1.2);
}

.menu__card-text-wrapper {
  width: 236px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.menu__card-price {
  color: rgb(69, 64, 61);
  font-size: 24px;
  line-height: 29px;
}

.menu__card-text {
  color: rgb(69, 64, 61);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}/*# sourceMappingURL=styles.css.map */